.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loadingSpinner {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid var(--color-lightblue-90);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  width: 60px;
  height: 60px;
  border-width: 4px;
}
